@model List<BasketItemVM>
@{
    ViewData["Title"] = "Basket";
    int count = 1;
    double totalPrice = 0;
}

<div class=" container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Count</th>
                <th scope="col">Total Price</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr >
                    <th>@count</th>
                    <td><img height="150" src="~/assets/img/@service.ImagePath" /></td>
                    <td>@service.Name</td>
                    <td>@service.Price</td>
                    <td>@service.CategoryName</td>
                    <td>@service.ServiceCount</td>
                    <td>@(@service.ServiceCount * @service.Price)</td>
                </tr>
                count++;
                totalPrice += @service.ServiceCount * @service.Price;
            }

        </tbody>
    </table>
    <p><b>Total Price: @totalPrice</b></p>
</div>